.upload-img {
    height: 120px;
    margin: 0 auto;
    width: 120px;
    margin-bottom: 15px;
    display: block;
    border-radius: 10px;
    object-fit: cover;
    background: #efefef;
    border: 1px solid #cdcdcd;
  }
  

  .mat-mdc-form-field {
    display: flex !important;
}

.mat-mdc-text-field-wrapper {
height: 40px !important;
margin-top: 10px !important;
}