<ng-container *ngIf="!fetchingData; else loader">
  <div class="row mb-3">
    <div class="col-12">
      <h5 translate>{{ isEditMode ? "Update" : "Create New" }} Designation</h5>
    </div>
  </div>
  <form [formGroup]="designationForm">
    <div class="row">
      <div class="col-md-6 mb-3">
        <kendo-floatinglabel size="large" class="w-100" text="{{'Designation Name' | translate}}" showErrors="initial">
          <input type="text" kendoTextBox class="k-input-lg k-rounded-lg" formControlName="description" />
          <kendo-formerror
            *ngIf="!designationForm.controls['description'].valid && designationForm.controls['description'].touched && designationForm.controls['description'].errors">
            {{'Designation name is required' | translate}}
          </kendo-formerror>
        </kendo-floatinglabel>
      </div>
      <div class="col-12 text-end">
        <button kendoButton size="large" rounded="large" fillMode="outline" themeColor="primary"
          [routerLink]="isEditMode ? '../../' : '../'"
          [queryParams]="isEditMode ? { currentPage: pagination.currentPage, pageSize: pagination.pageSize } : null"
          class="me-2" [disabled]="sendingRequest">
          {{'Back' | translate}}
        </button>
        <button [disabled]="sendingRequest" kendoButton size="large" rounded="large" themeColor="primary"
          (click)="onSubmit()">
          {{ (isEditMode ? "Update" : "Create") | translate }}
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #loader>
  <div class="d-flex align-items-center justify-content-center h-100">
    <kendo-loader type="converging-spinner" size="large"></kendo-loader>
  </div>
</ng-template>
