<ng-container *ngIf="!fetchingData; else loader">
  <div class="row mb-3">
    <div class="col-12">
      <h5>{{ isEditMode ? "Update" : "Create New" }} Cost Center</h5>
    </div>
  </div>
  <form [formGroup]="costCenterForm">
    <div class="row">
      <div class="col-md-4 mb-3">
        <kendo-floatinglabel
          size="large"
          class="w-100"
          text="Cost Name"
          showErrors="initial"
        >
          <input
            type="text"
            kendoTextBox
            class="k-input-lg k-rounded-lg"
            formControlName="costName"
          />
          <kendo-formerror
            *ngIf="!costCenterForm.controls['costName'].valid && costCenterForm.controls['costName'].touched && costCenterForm.controls['costName'].errors?.['required']"
          >
          cost Name is required
          </kendo-formerror>
        </kendo-floatinglabel>
      </div>
      <div class="col-md-4 mb-3">
        <kendo-floatinglabel size="large" class="w-100" text="Company">
          <kendo-dropdownlist
          size="large"
          rounded="large"
          [data]="allCompanies"
          textField="companyName"
          valueField="companyId"
          formControlName="companyId"
          [valuePrimitive]="true"
          ></kendo-dropdownlist>
          <kendo-formerror class="base-align" *ngIf="!costCenterForm.controls['companyId'].valid && costCenterForm.controls['companyId'].touched && costCenterForm.controls['companyId'].errors?.['required']">Company is required
          </kendo-formerror>
        </kendo-floatinglabel>
      </div>
      <div class="col-md-4 mb-3">
        <kendo-floatinglabel
          size="large"
          class="w-100"
          text="Cost Number"
          showErrors="initial"
        >
          <input
            type="text"
            kendoTextBox
            class="k-input-lg k-rounded-lg"
            formControlName="costNumber"
          />
          <kendo-formerror
            *ngIf="!costCenterForm.controls['costNumber'].valid && costCenterForm.controls['costNumber'].touched && costCenterForm.controls['costNumber'].errors?.['required']"
          >
          cost Number is required
          </kendo-formerror>
        </kendo-floatinglabel>
      </div>
      <div class="col-12 text-end">
        <button
          kendoButton
          size="large"
          rounded="large"
          fillMode="outline"
          themeColor="primary"
          [routerLink]="isEditMode ? '../../' : '../'"
          [queryParams]="isEditMode ? { currentPage: pagination.currentPage, pageSize: pagination.pageSize } : null"
          class="me-2"
          [disabled]="sendingRequest"
        >
          Back
        </button>
        <button
          [disabled]="sendingRequest"
          kendoButton
          size="large"
          rounded="large"
          themeColor="primary"
          (click)="onSubmit()"
        >
          {{ isEditMode ? "Update" : "Create" }}
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #loader>
  <div class="d-flex align-items-center justify-content-center h-100">
    <kendo-loader type="converging-spinner" size="large"></kendo-loader>
  </div>
</ng-template>
