<ng-container *ngIf="!fetchingData; else loader">
  <div class="row mb-3">
    <div class="col-12">
      <h5 translate>Change Password</h5>
    </div>
  </div>
  <form [formGroup]="changePasswordForm">
    <div class="row">
      <div class="col-md-4 mb-3">
        <kendo-floatinglabel
          size="large"
          class="w-100"
          text="{{ 'Login Name' | translate }}"
        >
          <input
            type="text"
            kendoTextBox
            size="large"
            formControlName="loginName"
          />
          <kendo-formerror
            *ngIf="!changePasswordForm.controls['loginName'].valid && changePasswordForm.controls['loginName'].touched && changePasswordForm.controls['loginName'].errors?.['required']"
          >
            {{ "Login Name is required" | translate }}
          </kendo-formerror>
        </kendo-floatinglabel>
      </div>
      <div class="col-md-4 mb-3">
        <kendo-floatinglabel
          size="large"
          class="w-100"
          text="{{ 'Old Password' | translate }}"
        >
          <kendo-textbox
            #password
            placeholder="Password"
            formControlName="oldPassword"
            class="k-input-lg k-rounded-lg base-align"
          >
            <ng-template kendoTextBoxSuffixTemplate>
              <button
                kendoButton
                look="clear"
                icon="eye"
                (click)="toggleVisibility()"
              ></button>
            </ng-template>
          </kendo-textbox>
          <kendo-formerror
            *ngIf="!changePasswordForm.controls['oldPassword'].valid && changePasswordForm.controls['oldPassword'].touched && changePasswordForm.controls['oldPassword'].errors?.['required']"
          >
            {{ "Old Password is required" | translate }}
          </kendo-formerror>
        </kendo-floatinglabel>
      </div>
      <div class="col-md-4 mb-3">
        <kendo-floatinglabel
          size="large"
          class="w-100"
          text="{{ 'New password' | translate }}"
        >
          <kendo-textbox
            #confirmPassword
            placeholder="New Password"
            formControlName="newPassword"
            class="k-input-lg k-rounded-lg base-align"
          >
            <ng-template kendoTextBoxSuffixTemplate>
              <button
                kendoButton
                look="clear"
                icon="eye"
                (click)="toggleConfirmVisibility()"
              ></button>
            </ng-template>
          </kendo-textbox>
          <kendo-formerror>
            <span
              class="base-align"
              *ngIf="(changePasswordForm.controls['newPassword'].touched) && changePasswordForm.controls['newPassword'].errors?.['required']"
            >
              {{
                "Password must contain minimum 8 character, A number, A lowercase and uppercase letter"
                  | translate
              }}
            </span>
            <span
              class="base-align"
              *ngIf="changePasswordForm.controls['newPassword'].touched && changePasswordForm.controls['newPassword'].errors?.['invalidPassword']"
            >
              {{ "Please enter valid password" | translate }}
            </span>
          </kendo-formerror>
        </kendo-floatinglabel>
      </div>
      <div class="col-12 text-end">
        <button
          [disabled]="sendingRequest"
          kendoButton
          themeColor="primary"
          (click)="onSubmit()"
        >
          {{ "Save" | translate }}
        </button>
      </div>
    </div>
  </form>
</ng-container>

<ng-template #loader>
  <div class="d-flex align-items-center justify-content-center h-100">
    <kendo-loader type="converging-spinner" size="large"></kendo-loader>
  </div>
</ng-template>
