<div class="row mb-3">
  <div class="col-12">
    <h5 class="mb-0">Backend Inventory</h5>
  </div>
</div>
<form>
  <div class="row">
    <div class="col-md-12 mb-3">
      <h6 class="fw-bold mb-0">
        Select Inventory Schedule and location and start scanning
      </h6>
    </div>
    <div class="col-lg-4 mb-3">
      <kendo-floatinglabel
        class="w-100"
        text="Inventory Schedule"
        showErrors="initial"
      >
        <kendo-combobox size="large" 
        [data]="InvSchList"
        textField="invDesc"
        valueField="invSchCode"
        (valueChange)="getAllBackendInventory($event)"
        [(ngModel)]="invSchCode"
        [ngModelOptions]="{standalone: true}"
        ></kendo-combobox>
      </kendo-floatinglabel>
    </div>
    <div class="col-lg-4 mb-3">
      <kendo-floatinglabel class="w-100" text="Location" showErrors="initial">
        <kendo-combobox size="large" [data]="allLocation" textField="values"
        valueField="locid"
        (valueChange)="getAllBackendInventory($event)"
        [(ngModel)]="locID"
        [ngModelOptions]="{standalone: true}"
        ></kendo-combobox>
      </kendo-floatinglabel>
    </div>
    <div class="col-lg-4 mb-3">
      <kendo-floatinglabel
        class="w-100"
        text="Asset Barcode"
        showErrors="initial"
      >
        <input type="text" kendoTextBox class="k-input-lg k-rounded-lg" />
      </kendo-floatinglabel>
    </div>
  </div>
</form>
<div class="row my-3">
  <div class="col-md-12">
    <div class="d-sm-flex d-block align-items-center justify-content-between w-100 mb-2">
      <h5 class="mb-0">Location Assets (Factory - 1\ RM Unloading Area\ Main)</h5>
      <div class="d-flex align-items-center justify-content-center gap-2">
        <button type="button" class="btn btn-primary" style="width: 130px;">
          Print Preview
        </button>
      </div>
    </div>
    <ag-grid-angular [rowData]="allBackendInv" [columnDefs]="backendInventoryGridCols" [rowSelection]="'single'"
      [rowMultiSelectWithClick]="true" [defaultColDef]="defaultColDefs" (gridReady)="onGridReady($event)"
      class="ag-theme-alpine w-100" style="height:70vh">
    </ag-grid-angular>
    <div class="d-flex flex-row-reverse gap-2 align-items-baseline mt-1">
      <ngb-pagination [collectionSize]="pagination.totalItems" [(page)]="pagination.currentPage"
        (pageChange)="pageChange($event)" [pageSize]="pagination.pageSize" [maxSize]="10" [rotate]="true"
        [boundaryLinks]="true" />

      <div class="me-3 d-flex flex-row">
        <select class="form-select form-select-sm" name="" id="" [ngModel]="pagination.pageSize"
          (ngModelChange)="pageSizeChange($event)">
          <option *ngFor="let value of pagination.pageSizes" [value]="value" [selected]="pagination.pageSize == value">
            {{value}}
          </option>
        </select>
      </div>
      <label for="pageSize" class="text-muted">Page Size</label>
    </div>
  </div>
</div>