<div class="row">
  <div class="col-md-12">
    <div class="d-sm-flex d-block align-items-center justify-content-between w-100">
      <h5 class="mb-0">Inventory Schedules</h5>
      <div class="d-flex align-items-center justify-content-center gap-2">
        <input type="search" class="form-control" placeholder="Search" [(ngModel)]="searchText"
          (ngModelChange)="onFilterTextBoxChanged()">
        <button *ngIf="GeneralService.permissions['Inventory Schedules'].add" type="button" class="btn btn-primary" [routerLink]="'create'" style="width: 130px;">
          {{"Add New" | translate}}
        </button>
      </div>
    </div>
    <div class="row d-sm-flex d-block align-items-center w-100 my-3">
      <div class="col-md-6">
        <button type="button" class="btn btn-outline-success me-2" (click)="exportToCSV()">
          <fa-icon [icon]="faFileExcel"></fa-icon>
          {{ "Export to Excel" | translate }}
        </button>
        <button type="button" class="btn btn-outline-success me-2" (click)="exportToCSV2()">
          <fa-icon [icon]="faFileExcel"></fa-icon>
          {{ "Export to Excel (In progress)" | translate }}
        </button>
      </div>

      <!-- <button type="button" class="btn btn-outline-danger">
        <fa-icon [icon]="faFilePdf"></fa-icon>
        {{ "Export to PDF" | translate }}
      </button> -->
      <div class="col-md-3">
    
</div>
<div class="col-md-3">
      <button style="float: right;" type="button" class="btn btn-outline-success me-2" (click)="validateInv()">
        {{ "Validate" | translate }}
      </button>
    </div>
  </div>
    <ag-grid-angular [rowData]="gridData" [columnDefs]="inventorySchedulesGridCols" [rowSelection]="'single'"
      [rowMultiSelectWithClick]="true" [defaultColDef]="defaultColDefs" (gridReady)="onGridReady($event)"
      class="ag-theme-alpine w-100" style="height:70vh">
    </ag-grid-angular>
    <div class="d-flex flex-row-reverse gap-2 align-items-baseline mt-1">
      <ngb-pagination [collectionSize]="pagination.totalItems" [(page)]="pagination.currentPage"
        (pageChange)="pageChange($event)" [pageSize]="pagination.pageSize" [maxSize]="10" [rotate]="true"
        [boundaryLinks]="true" />

      <div class="me-3 d-flex flex-row">
        <select class="form-select form-select-sm" name="" id="" [ngModel]="pagination.pageSize"
          (ngModelChange)="pageSizeChange($event)">
          <option *ngFor="let value of pagination.pageSizes" [value]="value" [selected]="pagination.pageSize == value">
            {{value}}
          </option>
        </select>
      </div>
      <label for="pageSize" class="text-muted">Page Size</label>
    </div>
  </div>
</div>
