<div class="page-sign">
  <div class="card card-sign">
    <div class="card-header">
      <a href="../" class="header-logo mb-4">Zul Assets</a>
      <h3 class="card-title">Set Password</h3>
      <p class="card-text">Please create a new password for your account.</p>
    </div>
    <!-- card-header -->
    <div class="card-body pt-2">
      <form [formGroup]="setPasswordForm">
        <div class="mb-2">
          <kendo-floatinglabel size="large" class="w-100" text="Token">
            <input
              type="password"
              placeholder="Enter Token"
              kendoTextBox
              class="k-input-lg k-rounded-lg"
              rounded="large"
              size="large"
              formControlName="token"
            />
          </kendo-floatinglabel>
        </div>
        <div class="mb-3">
          <kendo-floatinglabel size="large" class="w-100" text="New password">
            <input
              type="password"
              placeholder="Enter New password"
              kendoTextBox
              class="k-input-lg k-rounded-lg"
              rounded="large"
              size="large"
              formControlName="newPassword"
            />
          </kendo-floatinglabel>
        </div>
        <button
          class="w-100"
          kendoButton
          size="large"
          rounded="large"
          size="large"
          fillMode="solid"
          themeColor="primary"
          (click)="setPassword()"
        >
          Submit
        </button>
      </form>
    </div>
    <!-- card-body -->
  </div>
  <!-- card -->
</div>
