<div class="page-auth" [ngClass]="'currentTheme' | translate">
  <div class="header">
    <div class="container">
      <button
      kendoButton
      look="clear"
      icon="undo"
      routerLink="/authentication/sign-in"
    ></button>
      <a routerLink="/authentication/sign-in" class="header-logo">Zul Assets</a>
      <!-- <nav class="nav nav-icon">
        <a href="" class="nav-link"><i class="ri-twitter-fill"></i></a>
        <a href="" class="nav-link"><i class="ri-github-fill"></i></a>
        <a href="" class="nav-link"><i class="ri-dribbble-line"></i></a>
      </nav> -->
    </div>
    <!-- container -->
  </div>
  <!-- header -->

  <div class="content">
    <div class="container">
      <div class="card card-auth">
        <div class="card-body text-center">
          <div class="mb-5">
            <img src="assets/svg/forgot_password.svg" class="w-50" alt="" />
          </div>
          <h3 translate class="card-title base-align">Reset your password</h3>
          <p translate  class="card-text mb-5 base-align">Enter your username or email address and we will send you a link to reset your password.</p>

          <form [formGroup]="forgotPassworForm">
            <div class="row g-2">
              <div class="col-sm-8">
                <input
                  kendoTextBox
                  class="k-input-lg k-rounded-lg base-align"
                  rounded="large"
                  placeholder="{{'Enter your User Name' | translate}}"
                  formControlName="loginName"
                />
              </div>
              <div class="col-sm-4">
                <button
                  class="w-100 base-align"
                  kendoButton
                  size="large"
                  rounded="large"
                  size="large"
                  fillMode="solid"
                  themeColor="primary"
                  (click)="forgotPassword()"
                >
                  {{'RESET' | translate}}
                </button>
              </div>
              <div class="row justify-content-end mt-4 ml-2 base-align">
                <p class="col-6"><b>{{'Select Language :' | translate}}</b></p>
                <a class="col-3 signInButtons" role="button" (click)="changeLangage('en')">English</a>
              <a class="col-3 signInButtons" role="button"  (click)="changeLangage('ar')">العربية</a>
              </div>
            </div>
          </form>
          <!-- row -->
        </div>
        <!-- card-body -->
      </div>
      <!-- card -->
    </div>
    <!-- container -->
  </div>
  <!-- content -->
</div>
