.header {
  height: 72px;
}
.header .container {
  padding-left: 20px;
  padding-right: 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 992px) {
  .header .container {
    padding-left: 0;
    padding-right: 0;
  }
}
.header .nav-icon .nav-link {
  padding: 0;
  font-size: 21px;
  line-height: 1;
  color: #6e7985;
  transition: all 0.25s;
}
@media (prefers-reduced-motion: reduce) {
  .header .nav-icon .nav-link {
    transition: none;
  }
}
.header .nav-icon .nav-link + .nav-link {
  margin-left: 8px;
}
.header .nav-icon .nav-link:hover {
  color: #506fd9;
  transform: scale(1.1);
}

.card-auth {
  max-width: 420px;
  border-width: 0;
  border-radius: 0;
  background-color: transparent;
}
.card-auth .card-title {
  font-size: 24px;
  color: #212830;
  margin-bottom: 15px;
}
.card-auth .card-text {
  color: #6e7985;
}
.card-auth .btn,
.card-auth .ui-datepicker-buttonpane button,
.ui-datepicker-buttonpane .card-auth button,
.card-auth .gridjs-pages button,
.gridjs-pages .card-auth button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 12px;
  font-family: "Archivo", sans-serif;
}

.page-auth .content .container {
  height: calc(100vh - 72px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-auth .form-control,
.page-auth .gridjs-input {
  height: 40px;
}
