<div class="row mt-3" [formGroup]="achForm">
  <div class="col-md-12 mb-3">
    <h5>Additional Cost History</h5>
  </div>
  <div class="col-md-6 mb-3">
    <kendo-floatinglabel
      size="large"
      class="w-100"
      text="Type"
      showErrors="initial"
    >
      <kendo-combobox
        [allowCustom]="true"
        size="large"
        rounded="large"
        [data]="dataCostType"
        textField="typeDesc"
        valueField="typeDesc"
        formControlName="typeDesc"
        [(ngModel)]="typeDesc"
        (valueChange)="setBValues($event)"
        [valuePrimitive]="true"
        [filterable]="true"
        (filterChange)="handleCostType($event)"
      ></kendo-combobox>
      <kendo-formerror
        *ngIf="!achForm.controls['typeDesc'].valid && achForm.controls['typeDesc'].touched && achForm.controls['typeDesc'].errors?.['required']"
        >additional type is required
      </kendo-formerror>
    </kendo-floatinglabel>
  </div>
  <div class="col-md-6 mb-3">
    <kendo-floatinglabel
      size="large"
      class="w-100"
      text="Add Cost"
      showErrors="initial"
    >
      <input
        type="number"
        formControlName="addCost"
        [(ngModel)]="addCost"
        kendoTextBox
        class="k-input-lg k-rounded-lg"
      />
      <kendo-formerror
        *ngIf="!achForm.controls['addCost'].valid && achForm.controls['addCost'].touched && achForm.controls['addCost'].errors?.['required']"
        >additional cost is required
      </kendo-formerror>
    </kendo-floatinglabel>
  </div>
  <div class="d-flex align-items-center justify-content-end">
    <button
      rounded="large"
      class="me-2"
      kendoButton
      themeColor="primary"
      (click)="clear()"
    >
      clear
    </button>
    <button
    *ngIf="generalService.permissions['Detail & Maintenance'].add"
      rounded="large"
      class="me-2"
      kendoButton
      themeColor="primary"
      (click)="submit()"
    >
      Save
    </button>
  </div>
</div>

<div class="row mt-3">

  <div class="row my-3">
    <div class="col-md-12">
      <ag-grid-angular
        [rowData]="gridView"
        [columnDefs]="additionalCostHistoryGridCols"
        [rowSelection]="'single'"
        [rowMultiSelectWithClick]="true"
        [defaultColDef]="defaultColDefs"
        (rowClicked)='onRowClicked($event.data)'
        class="ag-theme-alpine w-100"
        style="height: 50vh"
      >
      </ag-grid-angular>
      <div class="d-flex flex-row-reverse gap-2 align-items-baseline mt-1">
        <ngb-pagination
          [collectionSize]="pagination.totalItems"
          [(page)]="pagination.currentPage"
          (pageChange)="pageChange($event)"
          [pageSize]="pagination.pageSize"
          [maxSize]="10"
          [rotate]="true"
          [boundaryLinks]="true"
        />

        <div class="me-3 d-flex flex-row">
          <select
            class="form-select form-select-sm"
            name=""
            id=""
            [ngModel]="pagination.pageSize"
            (ngModelChange)="pageSizeChange($event)"
          >
            <option
              *ngFor="let value of pagination.pageSizes"
              [value]="value"
              [selected]="pagination.pageSize == value"
            >
              {{ value }}
            </option>
          </select>
        </div>
        <label for="pageSize" class="text-muted">Page Size</label>
      </div>
    </div>
  </div>
</div>
